{% load i18n %}
{% load static %}
<h3>{% trans 'most view posts' %}</h3>
{% for post in m_posts %}
<a href="{% url 'post:post' post.slug %}">
	<article>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image Post">
        {% else %}
            <img src="{% static 'image/default.jpg' %}" alt="Image Post">
        {% endif %}
		<div class="article-content">
		<h2>{{post.title}}</h2>
      <ul>
      <li class="date">
          <i class="far fa-calendar"></i>
          {{post.published_at|date:"M d, Y"}}
      </li>
      </ul>
		</div>
	</article> 
</a>                                   
{% endfor %}