{% extends 'base.html' %}
{% block content %}
<div class="post">
	<article>
  <div class="post-header">
		<div class="header">
			<h1>{{post.title}}</h1>
			<p>{{post.views_count}} views</p>
		</div>
		<ul>
			<li class="category">
				{% for category in post.categories.all %}  
					<a href="{% url 'post:home' %}?category={{category}}">{{category}}</a>
				{% endfor %}
			</li>
			<li class="date">
					<i class="far fa-calendar"></i>
					{{post.published_at|date:"M d, Y"}}
			</li>
			<li class="user-icon">
			  <i class="far fa-user"></i>
			  {{post.author}}
			</li>		
		</ul>
	</div>
  <img class='post-image' src="{{ post.image.url }}" alt="Image Post">
	<p>
		{{post.content}}
	</p>
</article>
<div class="related-posts">
	<h2>Related Posts</h2>
	<div class="posts">
		{% for related_post in related_posts %}
			<article>
				<a href="{% url 'post:home' %}">
					<img src="{{ related_post.image.url }}" alt="Image Post">
					<h3>{{related_post.title}}</h3>
				</a>
			</article>
		{% empty %}
			No related posts
		{% endfor %}
	</div>
</div>
<div class="comment">
	<h3 class="comments-header" >Comments</h3>
	{% for comment in comments %}
		<div class="comment-content">
			<div class="image">
				<img src="http://127.0.0.1:8000/media/post_images/default.jpg" alt="">
			</div>
			<div class="box">
				<div class="header">
					<h6><a href="">{{comment.user.username}}</a></h6>
					<span>{{comment.created_at}}</span>
				</div>
				<p>{{comment.content}}</p>
			</div>
		</div>
	{% endfor %}
	<form action="" method="POST">
		<h3 class="comments-header" >Write Comment</h3>
		{% csrf_token %}
		{{comment_form}}
		<input type="submit" value="Post Comment">
	</form>
</div>
</div>
{% endblock content %}