{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="articles">
  {% for post in posts %}
  <article>
    <div class="image">
        <a href="{% url 'post:post' post.slug %}">
          {% if post.image %}
            <img src="{{ post.image.url }}" alt="Image Post">
          {% else %}
            <img src="{% static 'image/default.jpg' %}" alt="Image Post">
          {% endif %}
        </a>
      </div>
      <div class="article-content">
        <h2><a href="{% url 'post:post' post.slug %}">
          {{post.get_title}}
        </a></h2>
        {% get_current_language as LANGUAGE_CODE %}
        {% if post.get_language_code != LANGUAGE_CODE %}
          <p class="no-translate">{% translate 'There is no translation for this article' %}</p>
        {% endif %}
        <ul>
      <li class="category">
        {% for category in post.get_categories.all %}  
          <a href="?category={{category}}">{{category}}</a>
        {% endfor %}
      </li>
      <li class="date">
          <i class="far fa-calendar"></i>
          {{post.published_at|date:"M d, Y"}}
      </li>
      </ul>
      <p>
        {{post.get_content|truncatewords:"30"}}
      </p>
    </div>
  </article>
  {% empty %}
  <h2>No Posts Yet</h2>
  {% endfor %}
</div>
{% include 'post/pagination.html' %}
{% endblock content %}