{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block content %}
<div class="content-header">
  <legend>{% trans 'accounts list' %}</legend>
  <a href="{% url 'dashboard:accounts_create' %}" class="btn info">{% trans 'create new account' %}</a>
</div>
<div class="table">
  <table>
  <thead>
    <tr>
      <th>{% trans 'id' %}</th>
      <th>{% trans 'UserName' %}</th>
      <th>{% trans 'Fist Name' %}</th>
      <th>{% trans 'Last Name' %}</th>
      <th>{% trans 'Email Address' %}</th>
      <th>{% trans 'Status' %}</th>
      <th>{% trans 'Date joined' %}</th>
      <th>{% trans 'Update' %}</th>
      <th>{% trans 'Delete' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for account in accounts %}
      <tr>
        <td>{{account.id}}</td>
        <td>{{account.username|default:'N/A'|slice:'8'}}</td>
        <td>{{account.first_name|default:'N/A'|slice:'8'}}</td>
        <td>{{account.last_name|default:"N/A"|slice:'8'}}</td>
        <td>{{account.email|default:'N/A'|slice:'8'}}</td>
        <td>
            {% if account.is_superuser %}
                {% trans 'Super User' %}
            {% elif account.is_staff %}
                {% trans 'Staff' %}
            {% elif not account.is_active %}
                <p class="btn btn-sm danger">{% trans 'inactive' %}</p>
            {% elif editors_group in account.groups.all %}               
                {% trans 'Editor' %}
            {% else %}               
                {% trans 'Member' %}
            {% endif %}
        </td>
        <td>{{account.date_joined|date:'d M Y h:i'}}</td>
        <td><a href="{% url 'dashboard:accounts_update' account.id %}" class="btn btn-sm warning">{% trans 'Update' %}</a></td>
        <td><a href="{% url 'dashboard:accounts_delete' account.id %}" class="btn btn-sm danger">{% trans 'Delete' %}</a></td>
      </tr>
    {% endfor %}      
  </tbody>
  </table>				
</div>
{% endblock content  %}