{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block content %}
<div class="content-header">
  <legend>{% trans 'comments list' %}</legend>
</div>
<div class="table">
  <table>
  <thead>
    <tr>
      <th>{% trans 'author' %}</th>
      <th>{% trans 'comment' %}</th>
      <th>{% trans 'post' %}</th>
      <th>{% trans 'created at' %}</th>
      <th>{% trans 'delete' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for comment in comments %}
      <tr>
        <td>{{comment.user}}</td>
        <td>{{comment.content|truncatewords:"6"}}</td>
        <td><a href="{% url 'post:post' 'test-2222222-dd' %}">{{comment.post|truncatewords:"10"}}</a></td>
        <td>{{comment.created_at|date:'d M Y h:i'}}</td>
        <td><a href="{% url 'post:delete_comment' comment.id %}" class="btn btn-sm danger">{% trans 'delete' %}</a></td>
      </tr>
    {% endfor %}      
  </tbody>
  </table>				
</div>
{% endblock content  %}