{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginForm</title>
    <!-- Main Template Css File -->
    <link rel="stylesheet" href="{% static 'account/main.css' %}">
    <link 
    href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
      {% block content %}
      {% endblock content %}
  </body>
</html>
