{% extends 'account/account_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Reset' %}{% endblock title %}
{% block content %}
<div class="form-header">
  <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
</div>
<div class="form">
  <form action="" method="post" class="account">
      <legend>{% trans 'Password reset' %}</legend>
      {% csrf_token %}
      {{form}}
      <input type="submit" value="{% trans 'Password reset' %}" />
    </form>
  </div>
{% endblock content %}