{% extends 'account/account_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Change' %}{% endblock title %}
{% block content %}
  <div class="form">
    <form method="post" class="account">
      <legend>{% trans 'Password Change' %}</legend>
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Reset Password" />
    </form>
    <p class="af-form">{% trans 'Back To Login' %}<a href="{% url 'login' %}"> {% trans 'Register' %}</a></p>
  </div>
{% endblock content %}