html {
    direction: rtl;
}

.content .content-top form {
    margin-right: 2%;
}
.main-content {
    margin-right: 250px;
    margin-left: 0px;
}
header .profile .image img {
    display: block;
    height: 100%;
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}